    body{
    overflow-y: auto;
  /*  background: linear-gradient(to right,darkmagenta, magenta);*/
    background-color: hsl(2, 57%, 40%);
background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    box-sizing: border-box;
    color: white;
    }
    h1 > strong{
    color: hsl(182,75%,60%);  
    }
    .card{
    height: 300px;
    margin: 30px 100px;
    display: block;
    box-shadow: 10px 10px 5px 5px hsl(2,70%,10%);
    overflow: auto;
    background-color: white;
    color: hsl(2, 57%, 40%);
    }
    .intro{
    text-align: center;
    padding: 2px;
    }
    .intro > h1{
    font-size: 5vw;
    }
    .intro > h3{
    font-size: 2vw;
    }
    .font{
    padding-right: 20px;
    font-size: 30px;
    }
    ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    }
    li{
    list-style-type: none;
    list-style-position: inside;
    padding-right: 30px;
    float: left;
    }
    li > a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    }
    .aboutbox{
    position: relative;
    }
    .imageLeft{
    max-height: 200px;
    max-width: 25%;
    position: absolute;
    top: 15%;
    left: 10px;
    }
    .contentRight{
    position: absolute;
    top: 10%;
    left: 50%%;
    }
    @media screen and (max-width:400px){
      .card{
        height: auto;
      }
      .imageLeft{
        display: block;
        width: 100%;
        margin: auto;
        float: left;
      }
      .contentRight{
        clear: left;
      }
    }